*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.bg-1{
    background-color: #f0e0b8;
}

.bg-2 {
    background:  #f6f0e4;
}

.bg-3{
    background: #24262b;
}
.top-menu-bar{
    display: flex;
    align-items: center;
    padding: 10px 0;
    
}
.logo{
    width: 40%;
}
.logo img{
    height: 70px;
}

.nav{
   display: flex;
   margin-left: auto;
   align-items: center;
}
.nav ul{
    display: flex;
    list-style: none;
}
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar input{
    padding: 2px 0;
    display: none;
}
 .search-bar .show {
    display: block

 }

.search-bar button{
    background: none;
    border: none;
    padding-left: 10px;
}

.nav li{
    padding-right: 40px;
}
.nav li a{
    color: black;
    text-decoration: none;
}
.nav li a:hover{
    color: red;
}

.search-bar img{
    width: 25px;
}

.first-section{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    color:#726c54;
}
.first-col-2{
    margin-left: auto;
    width: 50%;
}
.first-col-2 h1{
    font-size: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
   
}

.first-col-2 p{
    font-size: 24px;
    padding-bottom: 25px;
}
.first-col-2 a{
    text-decoration: none;
}


.btn{
    padding: 10px 60px;
    background:#726c54;
    color: white;
    border: none;
}

.btn:hover{
    background: #eaca4a;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    text-align: center;
}
.grid div{
    width: 33.33%;
    padding: 0 30px;
}
.grid img{
    width: 200px;
}
.grid h3{
    color: rgba(116,112,87,255);
}
 .second-row-1{
    text-align: center;
    padding: 20px 0;
    color: #726c54;
}
.second-row-1 h1{
padding: 5px 0;
}
.second-row-1 p{
    width: 80%;
    margin: auto;
}

.second-row-3{
    height: 50px;
    background: #efe2b6;
}

/* third section */
.third_section{
    display: flex;
    margin-top: 40px;
}

.third-col-2{
    color: #726c54;
    margin-left: auto;
    width: 50%;
}

.third-col-2 h2{
    font-size: 50px;
}

.third-col-1 img{
        width: 275px;
        border: 2px solid beige;
        border-radius: 50%;
}

.third-col-2 p {
    padding: 20px 0;
    font-size: 24px;

}
.third-col-2 div{
    margin-top: 50px;
}
.third-col-2 a{
    text-decoration: none;

}


/* fourth section */

.fourth_section{
    display: flex;
    margin-top: 40px;
}

.fourth-col-1{
    color: #726c54;
    width: 50%;
}
.fourth-col-2{
    margin-left: auto;
}

.fourth-col-1 h2{
    font-size: 50px;
}

.fourth-col-2 img{
        width: 275px;
        border: 2px solid beige;
        border-radius: 50%;
}

.fourth-col-1 p {
    padding: 20px 0;
    font-size: 24px;

}
.fourth-col-1 div{
    margin-top: 50px;
}
.fourth-col-1 a{
    text-decoration: none;

}
.center-1{
    border-right: 4px dashed #726c54;
    padding-right: 10%;
    margin: 20px 0;
}
.center-1 h2 ,.center-2 h2 ,.center-3 h2{
    color: #726c54;
    font-size: 50px;
}

.center-2{
    margin: 20px 0;
}

.center-1 p ,.center-2 p ,.center-3 p{
    color: #726c54;
    font-size: 24px;
}
.center-3{
    border-left: 4px dashed #726c54;
    padding-left: 10%;
    margin: 20px 0;
}


.fifth-section{
    color: #706c53;
    margin: 80px auto;
}

.fifth-row-1 {
    text-align: center;

}
.fifth-row-1 h2{
    font-size: 50px;
}
.fifth-row-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.fifth-row-2 div{
    width: 33.33%;
    padding: 0 30px;
    text-align: center;
}
.fifth-row-2 h2{
    padding: 20px 0;
}
.fifth-row-2 h3{
    padding: 20px 0;
}
.fifth-row-2 p{
    padding-bottom: 20px;
}
.fifth-row-2 img{
    padding: 20px;
    width: 200px;
    background: #f5f1e5;
}


.sixth-section{
    background: url(media/lady-bg.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    color: white;
    text-align: center;
}
.sixth-section p{
    width: 50%;
    font-size: 24px;
}

.sixth-section h2{
    padding-top: 35px;
}

.seventh-section{
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seventh-section h2{
    font-size: 50px;
    padding-bottom: 30px;
}

.seventh-section p{
    width: 60%;
    color: #726c54;
    font-size: 24px;
    padding-bottom: 30px;
}
.seventh-section form{
    margin-bottom: 20px;
}
.seventh-section input{
    padding: 10px 100px 10px 0;

}
.seventh-section .btn-sub{
    color: white;
    background-color: black;
    padding: 10px 15px;
    text-align: center;
}


.footer-section{
    display: flex;
    color: white;
    padding: 40px 0;
}

.footer-section a{
    text-decoration: none;
    color: white;
}

.footer-col-1 {
    width: 40%;
}
.footer-col-1 p{
    padding: 20px 0;
}

.footer-col-2 {
    margin-left: auto;
}
.footer-col-2 >ul {
    display: flex;
}

.footer-col-2 ul{
    list-style: none;
}
.footer-col-1 img{
    width: 70px;
}
.social-icons img{
    width: 40px;
    padding-left: 5px;
}

.social-icons a:hover img{
  padding-left: 6px;
  transition: all 0.3s ease;
}

.footer-col-2  > ul>li{
    padding: 0 35px;
    font-size: 24px;
}

.footer-col-2 ul ul{
    padding-top: 20px;
}
.footer-col-2 >ul > li> ul li{
    padding: 5px 0;
    font-size: 16px;
}
.footer-section li a:hover{
    color: rgb(146, 102, 128);
}

@media screen and (max-width:750px){

    .first-section{
        flex-wrap: wrap;
    }

    .first-col-1{
        margin: auto;
    }

    .first-col-2{
        margin: auto;
        text-align: center;
    }


  .second-section .grid div{
    width: 100%;
  }

  
  .third_section {
    flex-wrap: wrap;
    text-align: center;
  }

  .third-col-1, .third-col-2{
    width: 100%;
  }

  .fourth_section {
    flex-wrap: wrap;
    text-align: center;
  }

  .fourth-col-1, .fourth-col-2{
    width: 100%;
  }

  .fifth-row-2 div{
    width: 100%;
  }


  .footer-section{
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-col-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-col-1 p{
    width: 50%;
    margin: auto;
  }
  .footer-col-2{
    margin-right: auto;
  }
}

@media screen and (max-width:450px){
    .footer-col-2 >ul{
        flex-wrap: wrap;
    }

    .footer-col-2 >ul > li{
        width: 100%;
        margin: 10px auto;
    }
}