*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.section-1-bg{
    position: relative;
    color: white;
}
.section-1-bg::before{
    content: "";
    background: url('media/dogs.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: brightness(40%);
    z-index: -1;
}
header{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.nav{
    margin-left: auto;
    display: flex;
}
.logo{
    width: 40%;
}

.logo img{
    border-radius: 50%;
    width: 70px;
}
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar li{
    font-size: 16px;
    font-weight: bold;
    padding-right: 40px;
}

.navbar li a{
    text-decoration: none;
    color: white;
}
 .navbar li a:hover{
    color: aqua;
 }
.navbar img{
    width: 25px;
    height: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
}
.search-bar input{
    padding-top: 5px;
    display: none;
}

 .search-bar .show {
    display: block

 }
.search-bar img{
    width: 29px;
    padding-left: 10px;
}
.search-bar button{
    background: none;
    border: none;
}


/* first section */


.first-section {
    text-align: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.first-section h1{
    font-size: 80px;
    padding-bottom: 25px;
}

.first-section p{
    padding-bottom: 25px;
    font-size: 25px;
    width: 60%;

}

.first-section a{
    width: 30%;
}
.btn{
    padding: 10px 0;
    border-radius: 40px;
    border: none;
    background: #fcc300;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.btn:hover{
    background-color: #ed22a6;
}
/* Second Section */


.bg-1{
    background: url("media/background.jpg") center center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 90px;
}

.second-row-1{
    padding: 20px 0;
    color: white;
}
.second-row-1 h1{
width: 20%;
margin: auto;
text-align: center;
padding-top: 70px;
padding-bottom: 5px;
font-size: 50px;
}
.second-row-1 p{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
.second-row-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.second-row-2>div{
    width: 33.33%;
    padding: 0 20px;
    color: white;
    text-align: center;
}


.second-row-2 img {
    width: 200px;
}

.second-row-2 h2{
    padding-bottom: 10px;
}

.second-row-2 p{
    width: 70%;
    font-size: 20px;
    margin: auto;
}


/* third section  */

.bg-2{
    position: relative;
    color: white;
    min-height: 600px;
    
}

.bg-2::before{
    content: "";
    background: url('media/dog-bg.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(40%);
}
.third-row-1{
    
}
.third-row-1 h1{
width: 30%;
margin: auto;
text-align: center;
padding-top: 50px;
padding-bottom: 5px;
font-size: 50px;
}

.third-row-1 p{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}
.third-row-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding-top: 80px;
}
.circle{
    width: 33.33%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.circle div{
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    padding: 45px 0;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
 .circle h2{
    text-align: center;
    font-size: 40px;
 }

 .circle p{
    text-align: center;
    font-size: 20px;
 }

 /* fourth section */

 .fourth-section{
    display: flex;
    color: white;
    align-items: center;
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}
.bg-3{
    background: url("media/background.jpg") center center no-repeat;
}
.fourth-col-1{
    width: 50%;
}

.fourth-col-1 h2{
    font-size: 50px;
}
 .fourth-col-1 p{
    padding: 30px 0;
    font-size: 24px;
 }

 .fourth-col-1 a{
    padding: 5px 40px;
}


.fourth-col-2{
    margin-left: auto;
}
.fourth-col-2 img{
    border-radius: 50%;
    width: 500px;
}


/* fifth section */

.fifth-section{
    display: flex;
    color: white;
    align-items: center;
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}


.fifth-col-1 img{
    border-radius: 50%;
    width: 500px;
}
.fifth-col-2{
    width: 50%;
    margin-left: auto;
}

.fifth-col-2 h2{
    font-size: 50px;
}
 .fifth-col-2 p{
    padding: 30px 0;
    font-size: 24px;
 }

.fifth-col-2 a{
    padding: 5px 40px;
}

/* Sixth Section */

.bg-4{
    background: rgba(50,129,198,255);
    color: white;
    padding: 80px 0;
}
 .sixth-col-1{
    margin-bottom: 40px;
 }
.sixth-col-1 h1{
    text-align: center;
    padding-bottom: 15px;
    font-size: 50px;
    width: 50%;
    margin: auto;
}

.sixth-col-1 p{
    margin: auto;
    text-align: center;
    width: 70%;
    font-size: 20px;
}

.sixth-col-2 {
display: flex;
flex-wrap: wrap;
margin: 0 -20px;
}

.sixth-col-2 > div{
    text-align: center;
    width: 33.33%;
    padding: 0 20px;
    color: #45aaf2;
    padding-top: 20px;
}
.sixth-col-2 div div{
    background: white;
    border-radius: 5px;
    padding-bottom: 5px;
}
.sixth-col-2 img{
    width: 30%;
    padding: 20px 0;
}
.sixth-col-2 h3 {
    font-size: 40px;
    padding: 15px 0;
}
.sixth-col-2 p {
    font-size: 20px;
    padding: 15px 0;
}
.sixth-col-2 .btn{
    margin-top: 5px;
}
.sixth-col-2 a {
    display: block;
    margin: 5px 10px;
}


/* Seventh Section  */

.bg-5{
    background: url("media/background.jpg") center center no-repeat;
    background-size: 100% 100%;
    color: white;
}

.seventh-section{
    padding: 50px 0;
}
.seventh-section h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.seventh-section >p{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 25px;
    padding-top: 20px;
}

.seventh-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    margin-top: 65px;
}


.seventh-container p {
    font-size: 20px;
    padding-bottom: 40px;
    
}
.seventh-container h2 {
    font-size: 30px;
    padding-bottom: 15px;
}
.container-7{
    padding-top: 20px;
  width: 50%;
  display: flex;
  padding: 0 20px;
}
.container-7 img{
    padding-right: 35px;
}
.container-7 div{
    display: inline-block;
}

/* Eight Section  */

.bg-6{
   
    color: white;
    position: relative;
    }

.bg-6::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  url("media/dogs.jpeg");
    background-color: rgba(248, 244, 6, 0.6);
    background-size: 100%;
    background-blend-mode: darken;
    filter: brightness(40%);
    z-index: -1;
}

.eight-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 800px;

}
.eight-section h2 {
    padding-top: 20px;
    font-size: 40px;

}
.eight-section p {
    font-size: 40px;
}
.footer-section{
    display: flex;
    color: white;
    padding: 40px 0;
}

.footer-section a{
    text-decoration: none;
    color: white;
}

.footer-col-1 {
    width: 40%;
}
.footer-col-1 p{
    padding: 20px 0;
}

.footer-col-2 {
    margin-left: auto;
}
.footer-col-2 >ul {
    display: flex;
}

.footer-col-2 ul{
    list-style: none;
}
.footer-col-1 img{
    width: 70px;
    border-radius: 50%;
}
.social-icons img{
    width: 40px;
    padding-left: 5px;
}

.social-icons a:hover img{
  padding-left: 6px;
  transition: all 0.3s ease;
}

.footer-col-2  > ul>li{
    padding: 0 35px;
    font-size: 24px;
}

.footer-col-2 ul ul{
    padding-top: 20px;
}
.footer-col-2 >ul > li> ul li{
    padding: 5px 0;
    font-size: 16px;
}

.footer-bg{
    background: #24262b;
}
.footer-section li a:hover{
    color: rgb(146, 102, 128);
}